<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>Contact Us</h3>
               <hr>
            </div>
     </div>

    <div fxFlex>
      <h3>Location Information</h3>
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="50" fxFlexOffset="20px">
                <h4>Our Address</h4>
                <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelope"></i>:
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
               <p></p>
                <div>
                    <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
                    <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
          <div fxFlex="40">
                <h4>Map of our Location</h4>
          </div>
        </div>
      </div>

      <div fxFlex fxFlexOffset="20px" class="form-size">
        <h3>Send us your Feedback</h3>
        <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>

        <form novalidate [formGroup]="feedbackForm"  (ngSubmit)="onSubmit()">
          <div>
            <mat-input-container class="half-width"
            dividerColor="{{feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched ? 'warn':'primary'}}">
              <input type="text" matInput placeholder="First Name" formControlName="firstname" required/>
              <mat-hint>
                <span [hidden]="!(feedbackForm.get('firstname').touched && feedbackForm.get('firstname').hasError('required'))">
                  First name is required!
                </span>
              </mat-hint>
            </mat-input-container>
            <mat-input-container class="half-width"
            dividerColor="{{feedbackForm.get('lastname').hasError('required') && feedbackForm.get('lastname').touched ? 'warn' : 'primary'}}">
              <input type="text" matInput placeholder="Last Name" formControlName="lastname" required/>
              <mat-hint>
                <span [hidden]="!(feedbackForm.get('lastname').hasError('required') && feedbackForm.get('lastname').touched)">
                  Last name is required!
                </span>
              </mat-hint>
            </mat-input-container>
          </div>
          <div>
            <mat-input-container class="half-width"
            dividerColor="{{feedbackForm.get('lastname').hasError('telnum') && feedbackForm.get('telnum').touched ? 'warn' : 'primary'}}">
              <input type="tel" matInput placeholder="Tel." formControlName="telnum" required/>
              <mat-hint>
                <span [hidden]="!(feedbackForm.get('telnum').hasError('required') && feedbackForm.get('telnum').touched)">
                  Last name is required!
                </span>
              </mat-hint>
            </mat-input-container>
            <mat-input-container class="half-width"
              dividerColor="{{feedbackForm.get('lastname').hasError('email') && feedbackForm.get('email').touched ? 'warn' : 'primary'}}">
              <input type="email" matInput placeholder="Email" formControlName="email" required/>
              <mat-hint>
                <span [hidden]="!(feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched)">
                  Last name is required!
                </span>
              </mat-hint>
            </mat-input-container>
          </div>
          <div>
            <table class="form-size">
              <tr>
                  <td  class="half-width"><mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle></td>
                  <td class="half-width"><mat-select placeholder="How?" formControlName="contacttype">
                  <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                    {{ ctype }}
                  </mat-option>
                </mat-select></td>
            </tr>
          </table>
          </div>
          <div>
            <mat-input-container class="full-width">
              <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
            </mat-input-container>
          </div>

          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
        </form>

      </div>



</div>
